<?xml version="1.0"?>
<config>
    <modules>
        <ConcordPay_Payment>
            <version>1.0.1</version>
        </ConcordPay_Payment>
    </modules>
    <global>
        <blocks>
            <concordpay_payment>
                <class>ConcordPay_Payment_Block</class>
            </concordpay_payment>
        </blocks>
        <models>
            <concordpay_payment>
                <class>ConcordPay_Payment_Model</class>
            </concordpay_payment>
        </models>
        <helpers>
            <concordpay_payment>
                <class>ConcordPay_Payment_Helper</class>
            </concordpay_payment>
        </helpers>
        <payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <Payment_redirect>/ConcordPay/redirect/</Payment_redirect>
        </secure_url>
        <routers>
            <concordpay_payment>
                <use>standard</use>
                <args>
                    <module>ConcordPay_Payment</module>
                    <frontName>ConcordPay</frontName>
                </args>
            </concordpay_payment>
        </routers>
        <translate>
            <modules>
                <ConcordPay_Payment>
                    <files>
                        <default>ConcordPay_Payment.csv</default>
                    </files>
                </ConcordPay_Payment>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ConcordPay_Payment>
                    <files>
                        <default>ConcordPay_Payment.csv</default>
                    </files>
                </ConcordPay_Payment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <concordpay_payment>
                <active>1</active>
                <model>concordpay_payment/ConcordPay</model>
                <title>Payment Visa, Mastercard, Google Pay, Apple Pay</title>
                <merchant>test</merchant>
                <secret_key>test</secret_key>
                <order_status>pending</order_status>
                <after_pay_status>complete</after_pay_status>
                <after_refund_status>canceled</after_refund_status>
                <language>RU</language>
                <payment_action>generateForm</payment_action>
                <allowspecific>0</allowspecific>
            </concordpay_payment>
        </payment>
    </default>
</config>
